<div class="bodyDiv">
  <div class="bodyDisabled" ng-if="dialogOpen"></div>
  <div class="pageFrame">
    <div class="elementRow">
      <div class="elementRowBig">
        <h1>Izberi datoteke</h1>
      </div>
      <div class="elementRowSmall">
        <span class="elementdescription">
          Izberi datoteke, ki jih želiš primerjati, ali pa jih povleci v program.
        </span>
      </div>
    </div>
    <div class="elementRow">
      <div class="elementRowBig" style="text-align: center;">
        <a ng-click='OpenFileDialog()' class="defaultButton">
          Izberi
        </a>
        <input ng-model="hiddenFileDialog" id="hiddenFileDialog" type="file" multiple accept=".txt" hidden />
      </div>
      <div data-fail="true" class="elementRowSmall" style="text-align: center; font-size: 11pt; opacity:0.7;">
        Dovoljeni tipi: .txt
      </div>
    </div>
    <div class="elementRow">
      <div class="elementRowLeft">
        <div class="elementRowSmall">
          <label for="cb1" title="Odstrani besede, ki stavku ne dajo pomena.">Odstrani vezne besede</label>
          <input id="cb1" type="checkbox" ng-model="wordPurgeCB" />
        </div>
        <div class="elementRowSmall">
          <label for="cb2" title="Ali si besede sledijo v enakem vrsnem redu?">Preveri zaporedje besed</label>
          <input id="cb2" type="checkbox" ng-model="sequenceCB" />
        </div>
      </div>
      <div class="elementRowRight">
        <div id="fileCounter">
          <span ng-show="!(listOfFiles.length)" id="countText">
            Ni izbranih datotek
          </span>
          <span ng-show="listOfFiles.length" id="fileNr">Število datotek: {{ listOfFiles.length }}</span>
          <span class="entypo-down-open ddIcon"></span>
        </div>
      </div>
    </div>
    <div class="elementRow">
      <div class="elementRowBig" style="text-align: center;">
        <input type="checkbox" ng-model="showContentCB" id="cb3" />
        <label for="cb3">Prikaži vsebino dokumentov.</label>
      </div>
    </div>
    <div class="elementRow">
      <div class="elementRowBig" style="text-align: center;">
        <a class="finishButton" ng-click="CheckFiles()">
          Preveri
        </a>
      </div>
    </div>
    <div class="elementRow">
      <div class="elementRowSmall" style="text-align: center;">
        <a href="#" class="openLink" ng-click="openSavedResult()">Odpri shranjen rezultat</a>
      </div>
    </div>
  </div>
</div>
