#fileSelectButton
[class*=entypo-]:before {
	font-family:entypo, sans-serif;
}

html,body {
	width:100%;
	height:100%;
	position: relative;
}

* {
	cursor:default;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	margin:0;
	padding:0;
}
.viewFrame
{
	display: block;
	width: 100%;
	height: 100%;
}
.bodyDiv {
	display:block;
	background:#F6F6F6;
	height:100%;
	width: 100%;
	-webkit-transition:opacity 700ms;
}

.pageFrame {
	width:90vw;
	display:block;
	margin: 0 auto;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	overflow: hidden;
}

.elementRow {
	display:block;
	margin-bottom:10pt;
	font-family:Oxygen;
	font-weight:300;
	padding:4pt 0;
}

.elementRow::after {
	content:' ';
	line-height:1px;
	clear:both;
	display:block;
}

.elementRow .elementRowLeft {
	width:50%;
	float:left;
	text-align:right;
}

.elementRow .elementRowRight {
	width:50%;
	float:right;
}

h1 {
	font-family:Oxygen;
	font-size:30pt;
	font-weight:300;
	text-align:center;
}

.elementdescription {
	font-family:Oxygen;
	font-size:11pt;
	font-weight:300;
	text-align:center;
	display:block;
}

.defaultButton {
	display:inline-block;
	font-family:Oxygen;
	font-weight:700;
	font-size:17pt;
	text-align:center;
	background:#9E9E9E;
	border:1px #212121 solid;
	-webkit-box-shadow:2pt 2pt 0 0 rgba(50,50,50,1);
	-webkit-transition:background 420ms color 600ms;
	margin:0 auto;
	padding:7pt;
	min-width: 60pt;
	position: static;
	overflow: visible;
}
.finishButton {
	display:inline-block;
	font-family:Oxygen;
	font-weight:700;
	font-size:20pt;
	text-align:center;
	width:auto;
	background:#9E9E9E;
	border:1px #212121 solid;
	min-width:80pt;
	-webkit-box-shadow:2pt 2pt 0 0 rgba(50,50,50,1);
	-webkit-transition:background 420ms color 600ms;
	margin:0 auto;
	padding:13pt;
}

.defaultButton:hover,.finishButton:hover {
	background:#0277BD;
	color:#f5f5f5;
}

.defaultButton:active,.finishButton:active {
	-webkit-box-shadow:none;
	background:#01579B;
	margin:0;
}

#dropCover {
	position:absolute;
	width:100%;
	height:100%;
	background:rgba(80,80,80,.7);
	z-index:1000;
	display:none;
}

#fileDropper {
	width:70vw;
	height:70vh;
	background:#FFF;
	font-size:30pt;
	font-weight:300;
	color:#212121;
	text-align:center;
	line-height:70vh;
	font-family:Oxygen;
	margin:15vh auto;
}
#fileCounter {
	font-family:Oxygen;
	font-weight:300;
	font-size:14pt;
	margin-left:4pt;
	position:relative;
	padding:4pt 4pt 4pt 13pt;
}

#fileNr {
	font-weight:700;
}

.fileListOpener:hover {
	background:#90CAF9;
	-webkit-transition:background 520ms;
}

#fileCounter .ddIcon {
	font-size:40pt;
	line-height:40pt;
	position:absolute;
	top:-16pt;
	right:10pt;
	color:transparent;
	-webkit-transition:color 420ms;
}

#fileCounter.fileListOpener:hover .ddIcon {
	color:#212121;
}

.elementRow .elementRowBig,.elementRow .elementRowSmall {
	width:100%;
	display:block;
	position: relative;
	overflow: visible;
}
.errorFlyer
{
	position: absolute;
	height: 20pt;
	top: 5pt;
	left: -webkit-calc(50% + 23pt);
	padding: 2pt 7pt;
	line-height: 20pt;
	background: #E53935;
	border: 1px #B71C1C solid;
	font-weight: normal;
	width: auto !important;
	font-size: 12pt;
	overflow: visible;
	-webkit-transition: left 420ms ease-in;
	-webkit-animation: flying 1.37s;
}
.defaultButton:hover .errorFlyer
{

	color: black;
	left: -webkit-calc(50% + 37pt);
}


@-webkit-keyframes flying {
    0%
    {
    	left: 68%;
    	opacity: 0;
    }
    100%
    {
    	opacity: 1;
    }
}
.pageHeader
{
	display: block;
	width: 100%;
	height: 50px;
}
.pageHeader:after
{
	display: block;
	width: 100%;
	clear: both;
	line-height: 1px;
}
.header30
{
	width: 30%;
	display: block;
	float: left;
}
.header40
{
	width:40%;
	display: block;
	float: left;
}
.scrollHolder
{
	display: block;
	width: 100%;
	overflow: auto;
	height: -webkit-calc(100% - 50px);
}
.resultsList
{
	display: block;
	height: 100%;
	margin: 0 auto;
	width: 99%;
}
.resultItem
{
	display: block;
	background: white;
	margin: 20px 0;
	font-family: Oxygen;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.5);
}
.resultItem:after
{
	content: ' ';
	display: block;
	clear: both;
	line-height: 1px;
}
.leftFileHolder
{
	width: 50%;
	float: left;
}
.rightFileHolder{
	width: 50%;
	float: right;
}

.fileTitle
{
	display: block;
	padding: 4px 12px;
	font-size: 17px;
	color: white;
	background: rgba(33,33,33,.7);
}
.stavki
{
	padding: 5px 14px;
}
.stavek
{
	-webkit-transition: all 420ms;
}
.compareL45
{
	background: #d0ffb7;
}
.compareL60
{
	background: #e4c874;
}
.compareL75
{
	background: #d57c2f;
}
.compareL90
{
	background: #b03328
}
.compareL100
{
	background: red;
}
.stavekHovered
{
	border-bottom: 1px blue solid;
}
.fileCompare:after
{
	display: block;
	clear: both;
	line-height: 1px;
	content: ' ';
}
.compareSummary
{
	display: block;
	text-align: center;
	width: 100%;
	background: rgba(33,33,33,.1);
	-webkit-transition: all 420;
	padding: 14px;
}
.compareSummary > .compare25
{
	margin: 0;
	width: 20%;
	text-align: center;
	display: inline-block;

}
.compare25 > span
{
	padding: 14px;
}

.bodyDisabled
{
	display: block;
	width: 100%;
	height:100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(69,69,69, .4);
	z-index: 9999;
}

.hintToast
{
	height: 50px;
	display: block;
	position: absolute;
	background: rgba(255,0,0,.3);
	z-index: 9999;

}
